* {
  box-sizing: border-box;
  font-family: 'Spline Sans Mono', monospace;
  
}

:root {
  --primary: #D56062;
  --secondary: #99D17B;
  --tertiary: white;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--primary);
}

.btn {
  font-size: 20px;
  border-width: 4px;
}

.page-content {
    font-size: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: 75%;
    background-color: var(--secondary);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
    border: 2px solid var(--tertiary);
    color: white;
    border-width: 4px;
}

header {
  text-align: center;
  padding: 30px;
  color: var(--tertiary);
}
